.root {
    /* Redefining default JavaFX Colours */
    -fx-accent: #1E40AF;
    -fx-focus-color: #1E40AF;
    -fx-highlight-fill: #1E40AF;
    -fx-font-size: 14px;

    /* Custom CSS Variables */
    -wl-colour-background-primary: #FFFFFF;
    -wl-colour-background-secondary: #F1F5F9;
    -wl-colour-foreground: #000000;
    -wl-colour-accent: #1E40AF;
    -wl-colour-accent-darker: #1E3A8A;
    -wl-colour-accent-lighter: #2563EB;
}

/* Utility Ids */
#text-bold {
    -fx-font-weight: bold;
}

#background-primary {
    -fx-background-color: -wl-colour-background-primary;
}

#background-secondary {
    -fx-background-color: -wl-colour-background-secondary;
}


/* Component Styling */
#header__page-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: -wl-colour-accent;
}

/* Control Styling: Buttons */
#button-accent {
    -fx-color: -wl-colour-accent;
    -fx-background: -wl-colour-accent;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color
}

#button-accent:hover {
    -fx-color: -wl-colour-accent-lighter;
}

#button-accent:pressed {
    -fx-color: -wl-colour-accent-darker;
}

/* Control Styling: Toggle Buttons */
#toggle-button {
    -fx-font-size: 14px;
    -fx-background-color: -wl-colour-secondary-background;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 2px
}

#toggle-button:selected {
    -fx-background-color: -wl-colour-primary-background;
    -fx-border-color: transparent transparent transparent -fx-colour-accent;
    -fx-border-width: 2px;
}

#toggle-button:hover {
    -fx-underline: true;
}

/* Control Styling: Link Labels */
#link-label {
    -fx-text-fill: -wl-colour-accent;
    -fx-underline: true;
}
#link-label:hover {
    -fx-text-fill: -wl-colour-accent-lighter;
}