/* Utility Styling Identifier */
#text-bold {
    -fx-font-weight: bold;
}

#background-primary {
    -fx-background-color: -wl-colour-background-primary;
}

#background-secondary {
    -fx-background-color: -wl-colour-background-secondary;
}

#background-secondary-border {
    -fx-background-color: -wl-colour-background-secondary;
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
}